{{ define "body"}}
<body class="page">
{{ block "header" . }}{{ partial "site-header.html" .}}{{ end }}
<section id="mainShell">
    <div class="container">

        <article>

            <header>
                <h1 class="f1">
                    {{ .Title }}
                </h1>
            </header>
            {{ .Content }}
            <section >
                {{ range .Paginator.Pages }}
                <div>
                    {{ .Render "summary" }}
                </div>
                {{ end }}
                {{ template "_internal/pagination.html" . }}

            </section>
        </article>

        <section id="sidebar">

            <nav id="subNav" style="display: none;">


            </nav>

            <h3 style="text-align: center;">Latest News</h3>
            {{ with .Site.GetPage "news" }}
            {{ range .Pages }}
            <div>
                <a href="{{ .RelPermalink }}">
                    {{ .Title }}
                </a>{{ .Date | time.Format ":date_long" }}
            </div>
            {{ end }}
            {{ end }}


        </section>
        <div class="clear"></div>
        <div id="btm"></div>
        <div id="top"></div>

    </div><!-- .container -->
</section><!-- mainShell -->
{{ block "footer" . }}{{ partialCached "site-footer.html" . }}{{ end }}
</body>
{{ end }}
