<header>
    <section id="titlebar">
        <div class="container">
            <div id="logo">
                <img src="/img/headerlogo2.png" width="567" height="133" alt="Header Logo" usemap="#logomap"/>
                <map name="logomap">
                    <area shape="rect" coords="0,0,567,133" href="/" alt="Logomap">
                </map>
            </div>
            {{ partial "site-navigation.html" .}}
            <div id="socialicons">
                <div>
                    <a class="github-fork-ribbon right-top" href="https://github.com/worldforge" data-ribbon="Fork me on GitHub" title="Fork me on GitHub">Fork me on GitHub</a>
                </div>
                <div>
                    <script type="text/javascript">// <![CDATA[
                    ((window.gitter = {}).chat = {}).options = {
                        room: 'Worldforge/Lobby'
                    };
                    // ]]></script>
                    <script type="text/javascript" src="https://sidecar.gitter.im/dist/sidecar.v1.js"
                            defer="defer"></script>
                </div>
            </div>
            <div id="search">

            </div>
        </div>
    </section>
</header>
