<div id="blockStyle258Main2" class="">
    <div id="HTMLBlock258" class="HTMLBlock">
        <style>
            .myButton {
                -moz-box-shadow: inset 0px 1px 0px 0px #616161;
                -webkit-box-shadow: inset 0px 1px 0px 0px #616161;
                box-shadow: inset 0px 1px 0px 0px #616161;
                background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #3b3b3b), color-stop(1, #676767));
                background: -moz-linear-gradient(top, #3b3b3b 5%, #676767 100%);
                background: -webkit-linear-gradient(top, #3b3b3b 5%, #676767 100%);
                background: -o-linear-gradient(top, #3b3b3b 5%, #676767 100%);
                background: -ms-linear-gradient(top, #3b3b3b 5%, #676767 100%);
                background: linear-gradient(to bottom, #3b3b3b 5%, #676767 100%);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3b3b3b', endColorstr='#676767', GradientType=0);
                background-color: #3b3b3b;
                -moz-border-radius: 6px;
                -webkit-border-radius: 6px;
                border-radius: 6px;
                border: 1px solid #1f1f1f;
                display: inline-block;
                cursor: pointer;
                color: #ffffff !important;
                font-family: arial;
                font-size: 20px;
                font-weight: bold;
                padding: 6px 24px;
                text-decoration: none;
                text-align: center;
            }

            .myButton:hover {
                background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #676767), color-stop(1, #3b3b3b));
                background: -moz-linear-gradient(top, #676767 5%, #3b3b3b 100%);
                background: -webkit-linear-gradient(top, #676767 5%, #3b3b3b 100%);
                background: -o-linear-gradient(top, #676767 5%, #3b3b3b 100%);
                background: -ms-linear-gradient(top, #676767 5%, #3b3b3b 100%);
                background: linear-gradient(to bottom, #676767 5%, #3b3b3b 100%);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#676767', endColorstr='#3b3b3b', GradientType=0);
                background-color: #676767;
            }

            .myButton:active {
                position: relative;
                top: 1px;
            }
        </style>
        <hr>
        <div><h2 style="color: black; text-align: center;">What do you want to do?</h2></div>
        <div style="text-align: justify; padding-left:20px; padding-right:20px">
            <a href="/play" class="myButton" style="position: relative">I want to<br>play the game!</a>
            <a href="/create" class="myButton" style="position: relative">I want to<br>create worlds!</a>
            <a href="/develop" class="myButton" style="position: relative">I want to<br>help develop!</a>
            <span style="width: 100%;display: inline-block;font-size: 0;line-height: 0"/>
        </div>
        <hr>
    </div>
</div>